.centerText {
  text-align: center;
}

#featured-property {
  text-align: center;
}

.propertyText {
  width: 800px;
  margin: auto;
}

section#details div {
  float: left;
  background: red;
  text-align: center;
  width: 25%;
}

nav > a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
